@using System.Globalization
@inject IJSRuntime JS
@inject NavigationManager navigationManager


<select @bind="culture">
	<option value="en">English</option>
	<option value="cs">Čeština</option>
	<option value="de">Deutsch</option>
</select>


@code {
	private CultureInfo culture {
		get => CultureInfo.CurrentCulture;
		set {
			if(CultureInfo.CurrentCulture != value)
			{
				((IJSInProcessRuntime)JS).InvokeVoid("blazorCulture.set", value.TwoLetterISOLanguageName);
				navigationManager.NavigateTo(navigationManager.Uri, true);
			}
		}
	}
}