@inherits LayoutComponentBase
@inject AppState appState

<AuthorizeView>
	<Authorizing>
		<div class="d-flex flex-row justify-content-center">
			Authorizing...
		</div>
	</Authorizing>

	<NotAuthorized>
		<div class="d-flex flex-row justify-content-center">
			@Body
		</div>
	</NotAuthorized>

	<Authorized>
		<div class="page">
			<div class="sidebar">
				<NavMenu />
			</div>

			<main>
				<div class="top-row px-4">
					@appState.AccessToken?.Subject
					<Logout />
				</div>

				<article class="content px-4">
					@Body
				</article>
			</main>
		</div>
	</Authorized>
</AuthorizeView>